@font-face {
    font-family: 'Restricted-UDDigiKyokashoNK-R';
    src:local('UD Digi Kyokasho NK-R');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: u+3000-9FFF;
}

@font-face {
    font-family: 'motoyalmaruw3_mono';
    src: url('fonts/kosugimaru-regular-webfont.woff2') format('woff2'),
         url('fonts/kosugimaru-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: u+3000-9FFF;
}
  

body {
    font-family: 'Restricted-UDDigiKyokashoNK-R', 'motoyalmaruw3_mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: 0 0 0 0;
}

h2 {
    margin: 1rem 0 0 0;
}

button {
    cursor: pointer;
}

button.btn {
    border: none;
    color: white;
    margin: 2rem 1rem;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    width:fit-content;
    cursor: pointer;
}

button.wide-btn {
    border: none;
    color: white;
    margin-top:2rem;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    width:100%;
    cursor: pointer;
}

.bg-green {
    background-color: #4CAF50;
}

.bg-gray {
    background-color: darkslategrey; 
}

.centered-fit-width {
    width: fit-content;
    margin:auto;
}

.center-text {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.red {
    color:red;
}

.green {
    color: green;
}

.question-highlight {
    text-decoration: underline;
    color:deeppink;
}

.readings-answer {
    margin: 10px;
}

#main-view {
    
    margin-left:auto;
    margin-right:auto;
    width: fit-content;

    padding:2rem;
    border: 2px solid black;
}

.options {
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
    width:fit-content;
}

.options-container {
    float: left;
    margin-left:auto;
    margin-right:10px;
    margin-bottom:10px;
    width:fit-content;
    padding:10px;
    border: 1px solid black;
}

.options-column {
    float: left;
    margin-left:auto;
    margin-right:10px;
    margin-bottom:10px;
    padding:5px;
    width:fit-content;
}

.options-item {
    display:block;
    margin-bottom: 2px;
}

.result-container {
    margin:2rem;
}

.result-item {
    padding:10px;
    border: 1px solid black;
}

.copyright {
    width:80%;
    margin: auto;
}